{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Recipe App</h1>
        <nav>
            <a href="{% url 'recipes:recipe_list' %}" class="nav-link">Recipes</a>
            <div class="logout-btn-container" style="position: absolute; top: 10px; right: 10px;">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </div>
        </nav>
    </header>

    <div class="recipe-container">
        <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
        <h2>{{ recipe.name }}</h2>
        <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
        <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Categories:</strong> {{ recipe.categories.all|join:", " }}</p>
        <a href="{% url 'recipes:recipe_list' %}" class="back-link">Back to Recipes</a>
    </div>

    <footer>
        <p>&copy; 2024 Recipe App. All rights reserved.</p>
    </footer>
</body>

</html>