{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes List</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Recipe App</h1>
        <nav>
            <!-- Search Button in Navigation -->
            <a href="{% url 'recipes:search' %}" class="nav-link">Search Recipes</a>
        </nav>

        <div class="logout-btn-container" style="position: absolute; top: 10px; right: 10px;">
            <!-- Add Recipe Button -->
            <a href="{% url 'recipes:add_recipe' %}" class="nav-link">Add Recipe</a>
            <!-- logout Button -->
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>

        </div>

    </header>

    <!-- Recipe Cards -->
    <div class="recipes-container">

        {% for recipe in recipes %}
        <div class="recipe-card">
            <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
            <h3>{{ recipe.name }}</h3>
            <p>Cooking Time: {{ recipe.cooking_time }} mins</p>
            <a href="{{ recipe.get_absolute_url }}" class="btn-details">View Details</a>
        </div>
        {% endfor %}
    </div>

    <footer>
        <p>&copy; 2024 Recipe App. All rights reserved.</p>
    </footer>
</body>

</html>