{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Recipes</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Search Recipes</h1>
        <nav>
            <a href="{% url 'recipes:recipe_list' %}" class="nav-link">Recipes List</a>
            <div class="logout-btn-container" style="position: absolute; top: 10px; right: 10px;">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </div>
        </nav>
    </header>

    <!-- Search Form -->
    <div class="search-container">
        <h2>Find Your Recipe</h2>
        <form method="GET">
            {{ form.as_p }}
            <button type="submit" class="btn-search">Search</button>
            <a href="{% url 'recipes:recipe_list' %}" class="btn-show-all">Show All</a>
        </form>
    </div>

    <!-- Results -->
    <div class="result-container">
        {% if recipes %}
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cooking Time (mins)</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></td>
                    <td>{{ recipe.cooking_time }}</td>
                    <td>{{ recipe.difficulty }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No results found.</p>
        {% endif %}
    </div>

    <!-- Chart -->
    <div class="chart-container">
        {% if bar_chart %}
        <h2>Cooking Time Chart (Bar)</h2>
        <img src="data:image/png;base64, {{ bar_chart|safe }}" alt="Bar Chart">
        {% endif %}
        {% if line_chart %}
        <h2>Cooking Time Chart (Line)</h2>
        <img src="data:image/png;base64, {{ line_chart|safe }}" alt="Line Chart">
        {% endif %}
        {% if pie_chart %}
        <h2>Cooking Time Distribution (Pie)</h2>
        <img src="data:image/png;base64, {{ pie_chart|safe }}" alt="Pie Chart">
        {% endif %}
    </div>



    <footer>
        <p>&copy; 2024 Recipe App. All rights reserved.</p>
    </footer>
</body>

</html>